.postsUnicos {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  width: 22rem;
  height: 22rem;
  border: solid 0.8px;
  border-color: rgb(214, 212, 212);
}

.postsUnicos :hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: calc(0.1);
}

.capa {
  width: 100%;
  height: 100%;
}

.titulo {
  font-size: 1rem;
  display: flex;
  flex-wrap: nowrap;
}
